DB_URL="Your database connections string here"
PLATFORM="Running environment: dev or prod"
SECRET="Your secret goes here. Gen with-> 'openssl rand -base64 64'"
POLKA_KEY="f271c81ff7084ee5b99a5091b42d486e"(static example key)